@CHARSET "utf-8";
@import url('default.css');
* {word-break: break-all; box-sizing:border-box;}
body, table, input, select, textarea {font-family:'NotoSans','맑은 고딕','Malgun Gothic','NanumGothic','Dotum','돋움','gulim','굴림',Helvetica,sans-serif; font-size:13px; font-weight:normal; color:#62605f; }
td, div, p, li, dt, dd, input, textarea, select, h1, h2, h3, h4, h5 {font-weight:normal; word-break:break-all;}

input[type=text], input[type=file], input[type=password], input[type=number] {box-sizing:content-box; height:38px; padding:0 10px; margin:0; border:1px solid #aaa8a7; line-height:38px; background:#fff; box-sizing:border-box; vertical-align:top;}
/*input[type=text]::-ms-clear { display:none; }*/
input[type=radio] {width:15px; height:15px; padding:0; margin:-1px 0 0; border:0 !important; vertical-align:middle; -webkit-appearance:none; -moz-appearance:none; appearance:none; outline:none; background:url(../images/blt/ico_radio.png) no-repeat 0 0;}
input[type=checkbox] {width:20px; height:20px; padding:0; margin:0; border:0; vertical-align:middle; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; appearance:none; outline:none; background:url(../images/blt/ico_check.png) no-repeat 0 0;}
input[type=radio]:checked, input[type=checkbox]:checked {background-position-y:100%;}
input[type=password] {border:1px solid #d8d8d8; height:42px; width:36%; line-height:42px;}
button {display:visible; padding:0; margin:0; border:0; border-radius:0; vertical-align:middle; cursor:pointer; outline:none; background:none;}
input:disabled {width:14px; border:1px solid #c4c4c4; color:#000; opacity:1; background:none; background-color:#e0e0e0;}
label.disabled {color:#62605f;} 
input +label {margin-left:4px;}
select {height:34px; width:200px; padding:0 10px; margin:0 10px 0 0; border:1px solid #aaa8a7; font-size:14px; color:#62605f; text-align:center; vertical-align:middle; -webkit-appearance:none; -moz-appearance:none; appearance:none; background:url(../images/blt/blt_select02.png) no-repeat 93% 50%;}
select option {font-size:14px; line-height:34px; vertical-align:middle; color:#969696;  font-family:'NotoSans';}
select::-ms-expand, input[type=radio]::-ms-expand, input[type=checkbox]::-ms-expand {display:none;}
textarea {border:1px solid #c4c4c4; padding:10px; margin:0; background:#fff;} 
em {font-style:normal;}
th {font-weight:normal; word-break:break-all}
a:link		{color:#62605f; text-decoration:none;}
a:visited	{color:#62605f; text-decoration:none;}
a:hover 	{color:#62605f; text-decoration:none;}
a:focus 	{color:#62605f; text-decoration:none;}
a:active	{color:#62605f; text-decoration:none;}
a.line {text-decoration:underline;}
::selection {background:#62605f; color:#fff;} 
.scr {overflow-y:auto;}
.through {text-decoration:line-through;}
/* strong, b {font-family:'NotoSansB';} */
img {max-width:100%;}
/* 
@font-face {
  font-family:'NotoSans';
  font-weight:normal;
  src: url(/font/NotoSans-Regular.eot);
  src: local(※),
       local('NotoSans-Regular'),
       url(/font/NotoSans-Regular.woff) format('woff'),
       url(/font/NotoSans-Regular.ttf) format('opentype');
}

@font-face {
  font-family:'NotoSansL';
  font-weight:normal;
  src: url(/font/NotoSans-Light.eot);
  src: local(※),
       local('NotoSans-Light'),
       url(/font/NotoSans-Light.woff) format('woff'),
       url(/font/NotoSans-Light.ttf) format('opentype');
}

@font-face {
	font-family:'NotoSansB';
	font-weight:normal;
	src: url(/font/NotoSans-Medium.eot);
	src: local(※),
	     local('NotoSans-Medium'),
	     url(/font/NotoSans-Medium.woff) format('woff'),
	     url(/font/NotoSans-Medium.ttf) format('opentype');
} 

@font-face {
  font-family:'RobotoL';
  font-weight:normal;
  src: url(/font/Roboto-Light.eot);
  src: local(※),
       local('Roboto-Light'),
       url(/font/Roboto-Light.woff) format('woff'),
       url(/font/Roboto-Light.ttf) format('truetype');
}

@font-face {
  font-family:'Roboto';
  font-weight:normal;
  src: url(/font/Roboto-Regular.eot);
  src: local(※),
       local('Roboto-Regular'),
       url(/font/Roboto-Regular.woff) format('woff'),
       url(/font/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family:'RobotoM';
  font-weight:normal;
  src: url(/font/Roboto-Medium.eot);
  src: local(※),
       local('Roboto-Medium'),
       url(/font/Roboto-Medium.woff) format('woff'),
       url(/font/Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family:'RobotoB';
  font-weight:normal;
  src: url(/font/Roboto-Bold.eot);
  src: local(※),
       local('Roboto-Bold'),
       url(/font/Roboto-Bold.woff) format('woff'),
       url(/font/Roboto-Bold.ttf) format('truetype');
} */

.wrodBreak {
	word-break:keep-all !important;
	word-wrap:break-word !important;
	overflow-wrap:break-word !important;
	-ms-word-break :normal !important;
}

.transition {-webkit-transition:all 0.15s ease-in-out; -moz-transition:all 0.15s ease-in-out; -o-transition:all 0.15s ease-in-out; transition:all 0.15s ease-in-out;}
.desc	{position:absolute; left:0; top:-10000px; overflow:hidden; width:1px !important; height:1px !important; padding:0 !important; margin:0 !important; font-size:1px !important; line-height:1px !important;}
.imgVm {position:absolute; top:0; right:0; bottom:0; left:0; margin:auto;}

.pointColorA {color:#e0004d !important;}

/*검색*/
.searchWrap {position:absolute; right:20px; top:36px; width:260px; height:40px; border:1px solid #aaa8a7;}
.searchWrap input {width:85%; font-size:13px; color:#969696; font-family:'NotoSansL'; border:none;}
.searchWrap a {position:absolute; right:0; top:0;}

/*버튼*/
.btnArea {padding:50px 0; text-align:center; background:#fff;}
.btnStyleA {display:inline-block; min-width:150px; height:50px; text-align:center; line-height:50px; color:#fff !important; font-size:15px; box-sizing:border-box; background:#9f8362;} /* 갈색 */
.btnStyleB {display:inline-block; min-width:150px; height:50px; text-align:center; line-height:50px; color:#fff !important; font-size:15px; box-sizing:border-box; background:#e0004d;} /* 핑크 */
.btnStyleC {display:inline-block; min-width:150px; height:50px; text-align:center; line-height:50px; color:#fff !important; font-size:15px; box-sizing:border-box; background:#664e49;} /* 진한갈색 */
.btnStyleD {display:inline-block; min-width:150px; height:50px; text-align:center; line-height:50px; color:#fff !important; font-size:15px; box-sizing:border-box; background:#b9b9b9;} /* 회색 */
.btnStyleE {display:inline-block; min-width:150px; height:50px; border:1px solid #b9b9b9; text-align:center; line-height:48px; color:#222 !important; font-size:15px; box-sizing:border-box; background:#fff;} /* 회색라인 */

.half {width:50%;}
.sizeS {min-width:50px; height:30px; padding:0 4px; line-height:30px; font-size:12px;}
.sizeM {min-width:192px; height:64px; padding:0 4px; line-height:64px; font-size:15px;}

/* listStyle */
/* newMenu_List */
.listStyleA {margin:0 74px;}
.listStyleA:after {content:""; display:block; clear:both;}
.listStyleA li {float:left; margin:0 17px 73px 17px; width:370px; max-height:489px;}
.listStyleA li>a {position:relative; display:inline-block; width:100%;}
.listStyleA li>a .thum {position:absolute; left:0; top:0; width:100%; height:230px;} 
.listStyleA li>a .thum img {width:100%;}
.listStyleA li .txtArea {position:relative; margin-top:89%; width:100%; height:170px; background:#fff;}
.listStyleA li .txtArea dl {padding:50px 30px 40px 30px;}
.listStyleA li .txtArea dl dt {width:310px; height:30px; font-size:24px; color:#382e2c; font-family:'RobotoM', 'NotoSans';  overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.listStyleA li .txtArea dl dd {padding-top:15px; height:58px; font-size:15px; color:#62605f;  display: -webkit-box; -webkit-line-clamp: 2;text-overflow: ellipsis; overflow: hidden;-webkit-box-orient: vertical;}
.listStyleA li .txtArea .date {position:absolute; right:25px; top:15px; font-size:12px; color:#969696; font-family:'Roboto', 'NotoSans';}
.listStyleA li .txtArea .category {position:absolute; left:0; top:-36px; padding-top:18px; width:80px; height:50px; font-size:13px; color:#fff; font-family:'Roboto', 'NotoSans'; text-align:center; background:#e0004d;}
.listStyleA li:nth-child(1) {animation-delay:0.4s}
.listStyleA li:nth-child(2) {animation-delay:0.5s}
.listStyleA li:nth-child(3) {animation-delay:0.6s}
.listStyleA li:nth-child(4) {animation-delay:0.7s}
.listStyleA li:nth-child(5) {animation-delay:0.8s}
.listStyleA li:nth-child(6) {animation-delay:0.9s}

/* Menu_List */
.listStyleB {margin:0 auto; max-width:1236px;}
.listStyleB li {display:inline-block; position:relative; margin:0 15px 60px 15px; width:276px; height:350px; vertical-align:top;}
/* .listStyleB li .thum {position:relative; width:276px; height:276px; background:#f6f6f6;  border:2px solid #f6f6f6; overflow:hidden; -webkit-border-radius:50%; -moz-border-radius:50%;	border-radius:50%;}
.listStyleB li:hover .thum {border:2px solid #bc9f73;width:276px; height:276px; background:#f6f6f6;  border:2px solid #f6f6f6; overflow:hidden; -webkit-border-radius:50%; -moz-border-radius:50%;	border-radius:50%;}
.listStyleB li .thum img {transition:transform .5s; image-rendering:-webkit-optimize-contrast; overflow:hidden; -webkit-border-radius:50%; 	-moz-border-radius:50%;border-radius:50%;}
.listStyleB li:hover .thum img {transition:transform .5s; image-rendering:-webkit-optimize-contrast; overflow:hidden; -webkit-border-radius:50%; 	-moz-border-radius:50%;border-radius:50%;
-ms-transform: scale (1.1);
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
} */
.listStyleB li .thum {position:relative; width:276px; height:276px; background:#f6f6f6; border-radius:150px; border:4px solid #fff; overflow:hidden;}
.listStyleB li:hover .thum {border:4px solid #bc9f73;}
.listStyleB li .thum img {transition:transform .5s; image-rendering:-webkit-optimize-contrast;-webkit-border-radius:150px;-moz-border-radius:150px;border-radius:150px;height:100%; width:100%; }
.listStyleB li:hover .thum img {  transform: scale(1.1, 1.1); /* -webkit-transform: scale(1.1, 1.1); */ }

.listStyleB li .txtArea {padding-top:30px; font-size:20px; color:#382e2c; text-align:center;word-break:keep-all;}
.listStyleB li .txtArea .sTxt {display:block; margin-top:5px; font-size:13px; color:#987346; font-family:'Roboto', 'NotoSans';}
.listStyleB li.best:before,
.listStyleB li.new:before {content:""; display:block; clear:both; position:absolute; left:23px; top:20px; width:108px; height:51px; background:url("../images/menu/icon.png") no-repeat 0 0; background-position:0 0; z-index:1;}

.listStyleB li:nth-child(1) {animation-delay:0.4s;}
.listStyleB li:nth-child(2) {animation-delay:0.5s;}
.listStyleB li:nth-child(3) {animation-delay:0.6s;}
.listStyleB li:nth-child(4) {animation-delay:0.7s;}
.listStyleB li:nth-child(5) {animation-delay:0.8s;}
.listStyleB li:nth-child(6) {animation-delay:0.9s;}
.listStyleB li:nth-child(7) {animation-delay:1.0s;}
.listStyleB li:nth-child(8) {animation-delay:1.1s;}
.listStyleB .iconArea {position:absolute; right:175px; top:30px; width:108px; z-index:2;}
.listStyleB .iconArea>span {display:inline-block; width:51px; height:51px; background:url("../images/menu/icon.png") no-repeat 0 0; text-indent:-10000px;}
.listStyleB span.bestIcon {background-position:0 0;}
.listStyleB span.newIcon {background-position:-55px 0;}
.listStyleB li>a {display:block;}
/* notice_List */
.listStyleC {width:100%; border-top:2px solid #382e2c;}
.listStyleC th {padding:14px 0; font-size:14px; color:#382e2c; font-family:'NotoSansB';border-bottom:1px solid #382e2c;}
.listStyleC th.num { font-family:'RobotoB', 'NotoSans';}
.listStyleC td {padding:14px 0; font-size:14px; color:#62605f;/*  font-family:'NotoSansL'; */ text-align:center; border-bottom:1px solid #aaa8a7;}
.listStyleC td.num { font-family:'Roboto', 'NotoSans';}
.listStyleC .notice {background:#f6f6f6;}
.listStyleC .notice td {color:#382e2c;}
.listStyleC .notice td a {word-break: break-all;}
.listStyleC .notice td.num { font-family:'RobotoM', 'NotoSans';}
.listStyleC .notice td.icon>span {display:inline-block; width:14px; height:12px; background:url("../images/whatsnew/icon.png") no-repeat 0 0; background-position:0 -170px;}

/* FAQ */
.listStyleD li {margin-bottom:5px; padding:0 20px; background:#fff;}
.listStyleD li.none {padding:40px 0;} 
.listStyleD li>a {position:relative; display:inline-block; padding:15px 0 15px 40px; width:100%; font-size:16px; }
.listStyleD li>a:after {content:""; display:block; clear:both; position:absolute; right:0; top:20px; width:17px; height:17px; background:url("../images/blt/blt08.png") no-repeat 0 0;}
.listStyleD li>a>span {display:inline-block; position:absolute; left:0; top:15px; font-size:20px; color:#382e2c; font-family:'RobotoB', 'NotoSans'; text-align:center;}
.listStyleD li.on>a,
.listStyleD li.on>a>span {color:#e0004d;}
.listStyleD li.on>a:after {background-position-y:-17px;}
.listStyleD li .answerCont {display:none; padding:20px 0; position:relative; padding-left:40px; font-size:14px; line-height:24px; border-top:1px solid #e2dfdc;}
.listStyleD li .answerCont>span.answer {position:absolute; left:0; top:20px; font-size:20px; color:#382e2c; font-family:'RobotoB', 'NotoSans';}

/* menu, ceo */
.listStyleE {margin:0 auto; max-width:1606px; text-align:center;} 
.listStyleE:after {content:""; display:block; clear:both;}
.listStyleE li {display:inline-block; position:relative; padding:50px 0; width:320px; min-height:370px; max-height:370px; text-align:center; border:1px solid #e2dfdc; vertical-align:top;}
.listStyleE li:first-child {border-left:1px solid #e2dfdc;}
.listStyleE li span {display:block; padding:150px 40px 0 40px; font-size:14px; line-height:22px;} 

/* viewStyle */ 
.viewWrapA {background:#f5f0e9;}
.viewWrapA .viewCont {margin:0 auto 0 auto; max-width:1360px; box-sizing:border-box;}
.viewWrapA .viewCont .newArrival {padding-bottom:60px;}
.viewWrapA .viewCont.viewContBottom {margin:0 auto 60px auto;}
.viewStyleA {width:100%; background:#fff; table-layout:fixed;}
.viewStyleA th {position:relative; padding:26px 0 25px 0; font-size:24px; color:#382e2c; /* font-family:'RobotoM', 'NotoSans'; */ border-bottom:1px solid #aaa8a7;}
.viewStyleA th.category {font-size:13px; color:#e0004d; font-family:'Roboto', 'NotoSans';}
.viewStyleA th.date {font-size:12px; color:#969696; font-family:'Roboto', 'NotoSans';}
.viewStyleA th.date>strong {margin-right:8px; font-size:12px; color:#382e2c;}
.viewStyleA th.state>span {font-size:14px; color:#382e2c; font-family:'NotoSansB';}
.viewStyleA th.state>span.ing {color:#e0004d;}
/* .viewStyleA th.state>span {display:inline-block; position:absolute; left:40px; top:44px; width:88px; height:78px; background:url("/images/whatsnew/icon.png") no-repeat 0 0;}
.viewStyleA th.state>span.ing {background-position:0 0;}
.viewStyleA th.state>span.end {background-position:-97px 0;} */
.viewStyleA td {padding:60px 30px; font-size:15px; color:#62605f; text-align :center;}
.viewStyleA td>div {margin-bottom:30px;}
.viewStyleA td .editArea {width:854px; margin:0 auto;}
.viewStyleB td {padding-left:100px; padding-right:100px;}
.viewContBottom .btnStore{padding-bottom:60px; height:30px; text-align:center; background:#fff;}
.viewContBottom .btnStore a {position:relative; padding:0 0 3px 25px;  font-size:17px; color:#df014c; border-bottom:2px solid #df014c;}
.viewContBottom .btnStore a:after {content:""; display:block; clear:both; position:absolute; left:0; top:0; width:16px; height:21px; background:url("../images/store/icon.png") no-repeat -64px 0;}
.newView.viewCont table td img,
.viewContBottom.viewCont table td img{max-width:100%;}

.viewWrapA .viewNavWrap {border-top:1px solid #aaa8a7; background:#fff;}
.viewWrapA .viewNav {margin:0 auto; max-width:1360px;}
.viewWrapA .viewNav:after {content:""; display:block; clear:both;}
.viewWrapA .viewNav li {position:relative; float:left; width:50%;}
.viewWrapA .viewNav li.prev {padding-left:30px;}
.viewWrapA .viewNav li.prev:after {content:""; display:block; clear:both; position:absolute; right:0; top:0; width:1px; height:100%; background:#aaa8a7;}
.viewWrapA .viewNav li.next {padding-right:30px; text-align:right;}
.viewWrapA .viewNav li > a,
.viewWrapA .viewNav li > div {display:inline-block; padding:26px 10px; width:100%; font-size:16px; color:#2c1f0c;  line-height:22px;}
.viewWrapA .viewNav li > div {color:#969696;}
.viewWrapA .viewNav li.prev a:before {content:""; display:block; clear:both; position:absolute; left:0; top:38px; width:14px; height:22px; background:url("../images/btn/btn_prev03.png") no-repeat 0 0;}
.viewWrapA .viewNav li.next a:before {content:""; display:block; clear:both; position:absolute; right:0; top:38px; width:14px; height:22px; background:url("../images/btn/btn_next03.png") no-repeat 0 0;}
.viewWrapA .viewNav li a:hover:before {background-position-y:-22px;}
.viewWrapA .viewNav li span {display:block; font-size:11px; color:#382e2c; font-family:'RobotoB', 'NotoSans';}
.viewWrapA .viewNav li.none {padding:26px 30px; font-size:16px; color:#969696;}
.viewWrapA .viewNav li.none.prev:before {content:""; display:block; clear:both; position:absolute; left:0; top:38px; width:14px; height:22px; background:url("../images/btn/btn_prev03.png") no-repeat 0 0;}
.viewWrapA .viewNav li.none.next:before {content:""; display:block; clear:both; position:absolute; right:0; top:38px; width:14px; height:22px; background:url("../images/btn/btn_next03.png") no-repeat 0 0;}

/* tableStyle */
.tableStyleA {padding-bottom:20px; width:100%; border-top:2px solid #382e2c; border-bottom:1px solid #aaa8a7;}
.tableStyleA th {padding:19px 0; font-size:15px; color:#382e2c; text-align:center; font-weight:bold;}
.tableStyleA th>span {margin-left:5px; color:#e0004d;}
.tableStyleA td {padding:20px 0; border-top:1px solid #e2dfdc;}
.tableStyleA td div.txt {margin-top:10px;}
.tableStyleA td div.txt ul {margin:10px 0;}
.tableStyleA td div.txt span.color {color:#e0004d;}
.tableStyleA td input [type=text]{height:34px; color:#969696; border:1px solid #aaa8a7;}
.tableStyleA td textarea {width:100%; height:198px; border:1px solid #aaa8a7;}
.tableStyleA td select {height:38px; margin-right:6px;}
.tableStyleA td select+input {margin-left:0;}
.tableStyleA td a.btnStyleA  {margin:0 3px; min-width:90px; height:38px; padding:0 10px; font-size:14px; line-height:38px;}
.tableStyleA td .blt  {font-size:13px;}
	
	
@media (max-width:1360px){
	.listStyleA {margin:0 auto; max-width:750px;}
	.listStyleA li {margin:0 3px 15px 2px;}
	.listStyleB {margin:0 auto; max-width:615px;}
}

@media (max-width:1000px){
	.viewStyleA th.date>strong {display:block; margin-right:0;}
}

@media (max-width:974px){
	.viewStyleA {table-layout:auto;}
	.viewStyleA td .editArea {width:100%;}
}

/*tabStyle*/
.tabStyleA {position:relative; width:100%; height:58px; border-bottom:1px solid #aaa8a7; z-index:1; background:#fff;}
.tabStyleA .listTab {display:table; margin:0 auto; text-align:center;}
.tabStyleA .listTab li {display:table-cell; width:145px; height:57px; padding:0 5px; text-align:center; vertical-align:middle;}
.tabStyleA .listTab li a {display:inline-block; width:100%; font-size:15px; letter-spacing:-0.1px;word-break:keep-all;}
.tabStyleA .listTab li.on {border-bottom:3px solid #e0004d;;}
.tabStyleA .listTab li.on a {color:#382e2c; }
/* .tabStyleA.tabStyleB .listTab li a { font-family:'RobotoL', 'NotoSans';} */
.tabStyleA.tabStyleB .listTab li.on a {font-weight:700;}

  
.tabStyleC {position:relative; margin:0 auto; max-width:1360px;}
.tabStyleC .listTab {position:absolute; left:0; top:178px; z-index:1;}
.tabStyleC .listTab:after {content:""; display:block; clear:both;}
.tabStyleC .listTab li {position:relative; float:left; margin:0 63px; text-align:center; }

.tabStyleC .listTab li:before {content:""; display:block; clear:both; position:absolute; left:-62px; top:9px; width:4px; height:4px; background:#c7c7c6;border-radius:10px;}
.tabStyleC .listTab li a {position:relative; display:inline-block; font-size:18px; color:rgba(255,255,255,0.9);  z-index:1;}
.tabStyleC .listTab li:first-child:before {width:0; height:0; background:none;}
.tabStyleC .listTab li:first-child a { font-size:15px;}
.tabStyleC .listTab li.on:after {content:""; display:block; clear:both; position:absolute; left:0; bottom:2px; width:100%; height:6px; background:#e0004d;}
.tabStyleC .listTab li.on a { color:rgba(255,255,255,1); }

.tabStyleD {position:relative; width:100%; height:58px; z-index:1; background:#fff;}
.tabStyleD .listTab {display:table; position:absolute; left:50%; top:0; text-align:center; transform:translateX(-50%); border-top:1px solid #e2dfdc;}
.tabStyleD .listTab:after {content:""; display:block; clear:both;}
.tabStyleD .listTab li {display:table-cell; width:168px;  height:57px; text-align:center; border-bottom:1px solid #e2dfdc; border-right:1px solid #e2dfdc;  background:#fff;}
.tabStyleD .listTab li:first-child {border-left:1px solid #e2dfdc;} 
.tabStyleD .listTab li a {display:inline-block; width:100%; height:57px; font-size:15px;line-height:57px;}
.tabStyleD .listTab li a>span {font-size:13px; color:#969696;}
.tabStyleD .listTab li.on {background:#e0004d;}
.tabStyleD .listTab li.on a {color:#fff; }

.tabStyleE .listTab {display:table; table-layout:fixed; width:100%; height:52px; border-collapse:collapse;}
.tabStyleE .listTab li {display:table-cell; height:52px; border:1px solid #999; border-bottom:2px solid #242320; text-align:center; vertical-align:middle;}
.tabStyleE .listTab li a {display:block; line-height:52px; color:#999;}
.tabStyleE .listTab li.on {padding-bottom:2px; border-color:#242320; border-bottom:none;}
.tabStyleE .listTab li.on a {color:#9f8362; font-weight:bold;}
		
/*bgStyle*/
.bgStyleA {position:relative; background:#f5f0e9;}
.bgStyleA:before {content:""; display:block; clear:both; position:absolute; left:0; top:0; width:100%; height:389px; background:#fff;} 
		
/*페이징*/
.paging {margin-top:60px; padding-bottom:100px; text-align:center;}
.paging li {display:inline-block; margin:0 8px; vertical-align:middle;}
.paging li a {font-size:15px;  font-family:'Roboto', 'NotoSans';}
.paging li strong {padding:5px 2px; font-size:20px; color:#382e2c;  font-family:'RobotoM', 'NotoSans'; border-bottom:3px solid #e0004d;}
.paging li.btnL2, .paging li.btnL, .paging li.btnR, .paging li.btnR2 {width:38px; height:38px; margin:0 10px; line-height:38px;}
.paging li.btnL {margin:0 8px 0 -5px;}
.paging li.btnR {margin:0 -5px 0 8px;}
.paging li.btnL2 a, .paging li.btnL a, .paging li.btnR a, .paging li.btnR2 a {display:inline-block; overflow:hidden; width:38px; height:0; padding-top:38px;}
.paging li.btnL2 a {background:url(../images/btn/btn_prev01.png) no-repeat 50% 50%;}
.paging li.btnL a {background:url(../images/btn/btn_prev02.png) no-repeat 50% 50%;}
.paging li.btnR a {background:url(../images/btn/btn_next01.png) no-repeat 50% 50%;}
.paging li.btnR2 a {background:url(../images/btn/btn_next02.png) no-repeat 50% 50%;}

.bgLayer {display:none; position:absolute; left:0; top:0; z-index:100; width:100%; height:100%; background:#000; opacity:0.4; filter:alpha(opacity=40);}
.bgLayer2 {display:none; position:absolute; left:0; top:0; z-index:105; width:100%; height:100%; background:#000; opacity:0.4; filter:alpha(opacity=40);}

.caption li, p.caption {position:relative; padding-left:10px;}
.caption li:before, p.caption:before {content:""; display:block; clear:both; position:absolute; left:0; top:8px; width:2px; height:2px; background:#b0997d;}


/* loading */
#loadingArea {position:absolute; left:0; top:0; width:100%; height:100%; background:#fff; opacity:.6;}
#loadingArea img {position:absolute; left:50%; top:50%; margin-left:-100px; margin-top:-100px;}
#loadingArea.fullLoad {position:fixed;}
#loadingArea.fullLoad img {}
#centerList #loadingArea img {margin-left:-130px; margin-top:-200px;}

.layerPop {display:none; position:fixed; left:50%; top:50%; padding:30px; width:840px; height:auto; background:#fff; z-index:101; transform:translateY(-50%) translateX(-50%); }
.layerPop .popCont {height:100%; overflow:hidden;}
.layerPop .popCont .map {height:100%; min-height:500px;}
.layerPop .popCont>strong {display:block; padding-bottom:10px; margin-bottom:10px; font-size:24px; color:#382e2c; border-bottom:1px solid #382e2c;}
.layerPop .popCont .logo {margin-bottom:40px; text-align:center;}
.layerPop .popCont .logo img {width:93px;}
.layerPop .closeBtn {position:absolute; right:30px; top:31px; width:20px; height:20px;}
.layerPop.overLayer {z-index:110;}
#phonePop {width:640px; padding:50px 0 0;}

li.none {margin-top:50px !important; width:100% !important; font-size:14px; color:#969696; text-align:center;}
li.none:before,
td.none:before  {content:""; display:block; clear:both; margin:0 auto 15px auto; width:55px; height:55px; background:url("../images/blt/none.png") no-repeat 0 0;}
td.none {padding:200px 0; width:100% !important; font-size:14px; color:#969696; text-align:center;}

.hyphen {display:inline-block; margin:0 5px; width:7px; height:1px; background:#aaa8a7;}
.lineBr {display:block; }
.not-kor {ime-mode:disabled;}


.src {border:none;background:none;
		scrollbar-face-color:#cdcdcd;		
		scrollbar-highlight-color:#cdcdcd;	
		scrollbar-3dlight-color:#cdcdcd;	
		scrollbar-shadow-color:#cdcdcd;		
		scrollbar-darkshadow-color:#cdcdcd;	
		scrollbar-track-color:#f0f0f0;	
		scrollbar-arrow-color:#4a4947;	
		overflow-x:hidden;overflow-y:auto; 
	}
.src::-webkit-scrollbar {width:4px; border: 1px solid #fff; }
.src::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height:0px }
.src::-webkit-scrollbar-track {background:#fff; -webkit-border-radius: 10px; border-radius:10px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2)}
.src::-webkit-scrollbar-thumb {height: 50px; width: 50px; background:#c1c1c1; -webkit-border-radius:4px; border-radius:4px; -webkit-box-shadow:inset 0 0 4px rgba(0,0,0,.1)}

#blockArea {position:fixed; left:0; top:0; width:100%; height:100%; z-index:1000000; background:rgba(0,0,0,0.6); }
#frameArea {position:absolute; top:50%; left:50%; background:#fff;}
#frameArea iframe {vertical-align:top;}
#frameArea .btnLayerClose {position:absolute; right:18px; top:24px; overflow:hidden; width:20px; height:19px; text-indent:20px; white-space:nowrap; background:url(../images/btn/btn_close4.png) no-repeat 0 0;}